/*

	Color Palette
	Primary: #4C6B8B
	Info:	 #1C2420
	Success: #4C9B62
	Warning: #C98B2A
	Danger:  #F44336


*/

body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #666;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

